{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/create_account">Create Account</a></li>
        <li><a href="/create_course">Create Course</a></li>
        <li><a href="#access_info">Access Info</a></li>
        <li><a href="#view_ta_assign">View TA Assign</a></li>
        <li><a href="#edit_account_info">Edit Account Info</a></li>
    </ul>
    {% block content %}{% endblock content %}
</body>
</html>