<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{%  static "css/style.css" %}">
</head>
<body>
    <div>
        <h1>Create Account</h1>
        <form method="POST" id="create_account_form">
            {% csrf_token %}
            <label for="email">Email address:</label>
            <input type="text" id="email" name="email">
            <br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <br>
            <label for="type">Account Type:</label>
            <select name="type">
                <option value="instructor">Instructor</option>
                <option value="ta">TA</option>
            </select>
            <br>
            <input type="submit">
        </form>
        <p>{{ message }}</p>
    </div>
</body>
</html>